:root {
  --clr-primary: #ee4d2d;
  --clr-primary-bg: #fef6f5;
  --clr-primary-gradient: linear-gradient(-180deg, #ee4d2d, #ff7337);
  --clr-secondary-blue: #0046ab;
  --clr-secondary-yello: #eda500;
  --clr-secondary-green: #26aa99;
  --clr-error: #ee2c4a;
  --clr-error-bg: #fff4f4;
  --clr-caution: #f69113;
  --clr-caution-bg: #fff8e4;
  --clr-success: #30b566;
  --clr-success-bg: #f7fffe;
  --clr-text-primary: rgba(0, 0, 0, 0.87);
  --clr-text-primary-o: #212121;
  --clr-text-secondary: rgba(0, 0, 0, 0.65);
  --clr-text-secondary-o: #595959;
  --clr-text-tertiary: rgba(0, 0, 0, 0.54);
  --clr-text-tertiary-o: #757575;
  --clr-text-link: #0088ff;
  --clr-util-placeholder: #fafafa;

  /* =================== Font and typography =================== */
  --font-regular-f: -apple-system, "HelveticaNeue", "Helvetica Neue", "Roboto",
    "Droid Sans", Arial, sans-serif;
  --font-regular-w: 400;
  --font-medium-f: -apple-system, "HelveticaNeue", "Helvetica Neue", "Roboto",
    "Droid Sans", Arial, sans-serif;
  --font-medium-w: 500;
  --font-bold-f: -apple-system, "HelveticaNeue", "Helvetica Neue", "Roboto",
    "Droid Sans", Arial, sans-serif;
  --font-bold-w: 700;

  /* =================== Header =================== */
  --header-height: 7.5rem;
}

/* =================== VARIABLES =================== */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.center {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fw300 {
  font-weight: 300 !important;
}
.fw500 {
  font-weight: 500 !important;
}
.fw700 {
  font-weight: 700 !important;
}

/* =================== BASE =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  color: rgba(0, 0, 0, 0.8);
}

html {
  /* font-size: 62,5%; */
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei,
    Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體,
    Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
  text-size-adjust: none;
  line-height: 1.2;
  -webkit-text-size-adjust: none;
}

a {
  color: #fff;
  /* color: #337ab7; */
  text-decoration: none;
}

/* a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
} */

/* =================== HEADER =================== */

.header {
  height: var(--header-height);
  background: var(--clr-primary-gradient);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-top {
}

.navbar {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link {
  color: #fff;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  overflow: visible;
  outline: 0;
  /* padding: 0 0.625rem; */
}
.nav__link--tappable {
  user-select: none;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.navbar__drawer {
  display: flex;
  position: relative;
  overflow: visible;
  outline: 0;
}
a:hover {
  color: hsla(0, 0%, 100%, 0.7);
  cursor: pointer;
}

.nav__link-line:not(:first-child)::after {
  content: "";
  height: 0.9375rem;
  width: 0;
  border-left: 1px solid hsla(0, 0%, 100%, 0.22);
  border-right: 1px solid hsla(0, 0%, 100%, 0.22);
  position: absolute;
  left: -6px;
  top: calc(50% - 7px);
}
.nav__link-line:not(:first-child) {
  margin-left: 0.625rem;
}

.nav__links {
  padding: 0;
  margin: 0;
  height: 2.125rem;
}
.navbar .nav__link {
  cursor: pointer;
}
.nav__link {
  position: relative;
  justify-content: center;
}
.nav__link-tappaple {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.nav__link--notification {
  padding: 0;
}
.nav-text__link {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.8125rem;
}
.svg-icon {
  display: inline-block;
  position: relative;
  fill: currentColor;
}
.svg__icon--notification {
  width: 0.875rem;
  height: 1.125rem;
}
.svg__icon--help {
}

.navbar .nav__link.nav__link--help {
  padding-left: 0;
}
.nav__help-icon {
  justify-content: center;
  margin-right: 0.3125rem;
  margin-left: 0.5rem;
}

.toggle-popover__language {
  padding: 0.4375rem 0.625rem;
}
