:root {
  --clr-primary: #ee4d2d;
  --clr-primary-bg: #fef6f5;
  --clr-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
  --clr-secondary-blue: #0046ab;
  --clr-secondary-yello: #eda500;
  --clr-secondary-green: #26aa99;
  --clr-error: #ee2c4a;
  --clr-error-bg: #fff4f4;
  --clr-caution: #f69113;
  --clr-caution-bg: #fff8e4;
  --clr-success: #30b566;
  --clr-success-bg: #f7fffe;
  --clr-text-primary: rgba(0, 0, 0, 0.87);
  --clr-text-primary-o: #212121;
  --clr-text-secondary: rgba(0, 0, 0, 0.65);
  --clr-text-secondary-o: #595959;
  --clr-text-tertiary: rgba(0, 0, 0, 0.54);
  --clr-text-tertiary-o: #757575;
  --clr-text-link: #0088ff;
  --clr-util-placeholder: #fafafa;

  /* =================== Font and typography =================== */
  --font-regular-f: -apple-system, "HelveticaNeue", "Helvetica Neue", "Roboto",
    "Droid Sans", Arial, sans-serif;
  --font-regular-w: 400;
  --font-medium-f: -apple-system, "HelveticaNeue", "Helvetica Neue", "Roboto",
    "Droid Sans", Arial, sans-serif;
  --font-medium-w: 500;
  --font-bold-f: -apple-system, "HelveticaNeue", "Helvetica Neue", "Roboto",
    "Droid Sans", Arial, sans-serif;
  --font-bold-w: 700;

  /* =================== Header =================== */
  --header-height: 7.5rem;
}

/* =================== VARIABLES =================== */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.center {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fw300 {
  font-weight: 300 !important;
}
.fw500 {
  font-weight: 500 !important;
}
.fw700 {
  font-weight: 700 !important;
}

/* =================== BASE =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  color: rgba(0, 0, 0, 0.8);
}

html {
  /* font-size: 62,5%; */
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei,
    Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體,
    Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
  text-size-adjust: none;
  line-height: 1.2;
  -webkit-text-size-adjust: none;
}

a {
  color: #fff;
  /* color: #337ab7; */
  text-decoration: none;
}

/* a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
} */

/* =================== HEADER =================== */

.header {
  height: var(--header-height);
  background: linear-gradient(-180deg, #f53d2d, #f63);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__top {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  transform: translateZ(0);
}
.header__top,
.header__top--fixed,
.header__search-container {
  min-width: inherit;
}

.navbar {
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link {
  position: relative;

  overflow: visible;
  outline: 0;

  color: #fff;
  font-size: 0.8125rem;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.2;
  padding: 0.25rem;
  /* padding: 0 0.625rem; */
}
.nav__link--tappable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.navbar__drawer {
  display: flex;
  position: relative;
  overflow: visible;
  outline: 0;
}
a:hover {
  color: hsla(0, 0%, 100%, 0.7);
  /* cursor: pointer; */
}
/* NAV LINK SOCIAL */
.nav__link-icon-social {
  font-size: 1rem;
}
.nav__link-icon-social:first-child {
  margin-right: 0.3125rem;
}
/* End */

.nav__link-line:not(:first-child)::after {
  content: "";
  height: 0.9375rem;
  width: 0;
  border-left: 1px solid hsla(0, 0%, 100%, 0.22);
  border-right: 1px solid hsla(0, 0%, 100%, 0.22);

  position: absolute;
  left: -6px;
  top: calc(50% - 7px);
}
.nav__link-line:not(:first-child) {
  margin-left: 0.625rem;
}

.nav__links {
  padding: 0;
  margin: 0;
  height: 2.125rem;
}

.nav__link {
  position: relative;
  justify-content: center;
}
.nav__link--notification {
  padding: 0;
}
.nav-text__link {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-weight: 300;
  font-size: 0.8125rem;
  text-transform: capitalize;

  cursor: pointer;
}
.svg-icon {
  display: inline-block;
  position: relative;
  fill: currentColor;
}
.svg__icon--notification {
  width: 0.875rem;
  height: 1.125rem;
}

.navbar .nav__link.nav__link--help {
  padding-left: 0;
}
.nav__help-icon {
  justify-content: center;
  margin-right: 0.3125rem;
  margin-left: 0.5rem;
}

.toggle-popover__language {
  padding: 0.4375rem 0.625rem;
}

.nav__link-apps {
  flex-wrap: wrap;
  align-items: center;
}
.img__app {
  width: 50px;
}

/* Download */
.downloads {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .downloads a:hover {
  display: block;
}
.nav__link-downloads {
  display: none;
  position: absolute;
  left: 0;
  top: 1.8rem;

  width: 140px;
  padding: 0.5rem;

  background-color: #fff;

  border-radius: 0.25rem;
  box-shadow: 0 1px 4px 0 rgb(74 74 78 / 12%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(74 74 78 / 12%);
  transition: all 0.25s;
}
/* QR HOVER */
.downloads--hover:hover .nav__link-downloads {
  display: block;
}

.nav__link-downloads::before {
  content: "";
  position: absolute;
  top: -0.625rem;
  left: 0;

  display: block;
  width: 100%;
  height: 1.8rem;
}

.nav__link-download {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.nav__link-download:hover {
  cursor: pointer;
}
.nav__link-apps,
.img__download-qr {
  width: 140px;
}
/* SEARCH BAR */

.header__search {
  justify-content: space-between;
  padding: 1rem 0 0.625rem;
  height: 5.125rem;
  box-sizing: border-box;
}
.header-search__logo-section {
  position: relative;
  top: -0.1875rem;
  padding-right: 2.5rem;
}
.header-search__logo-wrapper {
  padding: 2px;
  margin: -2px;
  border-radius: 2px;
}
.header-search__logo-shopee {
  display: block;

  width: 162px;
  height: 50px;
}
.icon-shopee-logo {
  fill: #fff;
}
.header__search-section {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 300;

  width: 840px;
  background: transparent;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  box-sizing: border-box;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  height: 2.5rem;
  width: 100%;
  background: #fff;
  padding: 0.1875rem;

  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
}
.searchbar__main {
  flex: 1;
}

.form-searchbar {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  padding: 0 0.625rem;
}
.form-searchbar__input {
  flex: 1;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
}
/* for BUTTON */
.btn-solid-primary {
  position: relative;
  overflow: visible;
  outline: none;
  background: #fb5533;
}
.btn--s {
  height: 34px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;
}
.btn-inline {
  display: inline-flex;
}
.btn {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  text-transform: capitalize;
  text-overflow: ellipsis;
  font-size: 14px;
  line-clamp: 1;

  border: 0;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  transition: all 0.3s;
}
.svg-icon-button__search {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  fill: #fff;
}

.searchmenu {
  width: 100%;
  flex: 1;
}
.menubar {
  position: relative;
  flex-wrap: nowrap;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0.1875rem;
}
.menubar__link:first-child {
  margin-left: 0;
}
.menubar__link {
  position: relative;
  display: block;
  overflow: visible;
  line-height: 0.875rem;
  height: 0.875rem;
  margin-left: 12px;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  white-space: nowrap;
  text-decoration: none;
}
