.container-fluid {
  /* padding-left: 16px; */
  /* padding-right: 16px; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.container {
  /* padding-left: 16px; */
  /* padding-right: 16px; */
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  max-width: 100%;
}

@media (min-width: 740px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1239px) {
  .container {
    width: 1200px;
  }
}

.row {
  margin-right: -16px;
  margin-left: -16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
/* For mobile phone */
[class*="col-"] {
  width: 100%;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-9,
.col-md-8,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-11,
.col-sm-10,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

/* For small screen */
@media (min-width: 46.25em) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-11,
  .col-sm-10,
  .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8, 33333333%;
  }
  .col-sm-2 {
    width: 16, 66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33, 33333333%;
  }
  .col-sm-5 {
    width: 41, 66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58, 33333333%;
  }
  .col-sm-8 {
    width: 66, 66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83, 33333333%;
  }
  .col-sm-11 {
    width: 91, 666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* ============ For the tablet (md) ============ */
@media (min-width: 62em) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-11,
  .col-md-10,
  .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8, 33333333%;
  }
  .col-md-2 {
    width: 16, 66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33, 33333333%;
  }
  .col-md-5 {
    width: 41, 66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58, 33333333%;
  }
  .col-md-8 {
    width: 66, 66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83, 33333333%;
  }
  .col-md-11 {
    width: 91, 666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* ============ For the desktop (lg) ============ */
@media (min-width: 75em) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-11,
  .col-lg-10,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8, 33333333%;
  }
  .col-lg-2 {
    width: 16, 66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33, 33333333%;
  }
  .col-lg-5 {
    width: 41, 66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58, 33333333%;
  }
  .col-lg-8 {
    width: 66, 66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83, 33333333%;
  }
  .col-lg-11 {
    width: 91, 666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
